<h1> This works </h1>
<%= link_to "Create Expense", expenses_path %>
<h2>Grand total = $<%= @grandTotal %></h2>
<h3>Breakdown<h3>
<h4>Gabriel</h4>
<ul>
<li>Share: $<%= @grandTotal / 2%></li>
<li>Minus: $<%= @gabriel.inspect %></li>
<li>Owes:  $<%= @grandTotal / 2 - @gabriel %> </li>
</ul>
<h4>Mona</h4>
<ul>
<li>Share: $<%= @grandTotal / 2%></li>
<li>Minus: $<%= @mona %></li>
<li>Owes:  $<%= @grandTotal / 2 - @mona %> </li>
</ul>
<h4> Taipei </h4>
<p> Total Cost: $<%= @Taipei %></p>
<h4> Chiang Mai </h4>
<p> Total Cost: $<%= @ChiangMai %></p>
<h4>Total Spent on Food alone: $<%= @food %> </h4>

