<p id="notice"><%= notice %></p>

<p>
  <strong>Traveler:</strong>
  <%= @expense.traveler %>
</p>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<p>
  <strong>City:</strong>
  <%= @expense.city %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @expense.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
